<!DOCTYPE html>

<style>
/*.img-circular{
 width: 50px;
 height: 50px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}*/
#dash_head{
  font-weight: 600;
  text-align: center;
  /*color: white;*/
}
/*#graph_row{
  height: 50px;
  width: 400px;
}*/
#timeline1{
  position: fixed-;
}
#timeline2{
  position: fixed;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
#name_head{
  font-weight: 300;
  text-align: center;
  /*color: white;*/
}
#content_pane{
  vertical-align: middle;
}
#add_touch_button{
  position: relative;
  top: 35%;
}
#content_area{
  height: 300px;
  overflow: auto;
}
.thumbnail {
   display: inline-block;
   border-style: hidden;
   vertical-align: middle;
}
</style>

<div class="header">

</div>

<!-- Start new Dashboard Test template -->
<div class="container">

<!-- Timeline test -->
  <div class="row">
    <div class="timeline1 col-md-2" id="timeline1">

    </div>

    <div class="tpoint_banner col-md-8">
      <h1 align="center"><strong>Track</strong> <small>Your Progress</small></h1>
    </div>
    <div class="timeline2 col-md-2" id="timeline2">
      <!-- This content is showing up on the left even though I want it on the right. Has to do with "fixed" attribute in CSS -->
    </div>
  </div>

  <!-- Toucpoint Input Row -->
  <div class="row">
    <div class="pic col-md-offset-2 col-md-4">
      <img class="img-responsive" src="http://localhost:3000/assets/touchpoints_stock_prelim.jpeg">
    </div>
    <div class="tpoint col-md-4" id="content_area">
      <!-- Start form, need to ADD ACTION -->
      <!-- Button trigger Add Touchpoint modal -->
      <div class="tab-pane">
        <% @touchpoints = Touchpoint.where({ :user_id => current_user.id})  %>
        <% @graph_counter = 0 %>
        <% @touchpoints.order("date ASC").each do |touchpoint| %>
        <% @graph_counter = @graph_counter + 1 %>
        <% instance = XyGraphShell.new %>
        <% instance.y = @graph_counter %>
        <% instance.date = touchpoint.date %>
        <% instance.save %>
        <% end %>
        <%= line_chart XyGraphShell.group(:date).sum(:y), height: "200px", library: { yAxis: { display: false },title: {text: 'Interactions Over Time'}, backgroundColor: "transparent"} %>
        <% XyGraphShell.delete_all %>


      <div align="center" id="add_touch_button">
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addInteractionModal">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Log A New Interaction
        </button>
      </div>
      </div>

      <!-- Add Touchpoint Modal -->
      <div class="modal fade" id="addInteractionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Log A New Interaction</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="date">Date</label>
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="date" id="date" value="<%=Date.today%>">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <script type="text/javascript">
                  $(function () {
                    $('#datetimepicker1').datetimepicker({
                      format: 'YYYY-MM-DD'
                    });
                  });
                  </script>
                </div>

                <script type="text/javascript">
                $(function() {
                  $('.jqueryOptions').hide();
                  $('#choose').change(function () {
                    $('.jqueryOptions').slideUp();
                    $('.jqueryOptions').removeClass('current-opt');
                    $("." + $(this).val()).slideDown();
                    $("." + $(this).val()).addClass('current-opt');
                  });
                });
                </script>
                <div class="select-area">
                  <div class="form-group">
                    <label for="choose">New or Existing Contact</label>
                    <select name="choose" id="choose" class="form-control">
                      <option value="nul" selected>Make a Selection</option>
                      <option value="new">First Time We've Met</option>
                      <option value="existing">I've Met This Person Before</option>
                    </select>
                  </div>
                </div>

                <main role="main" class="main-content">
                  <section class="jqueryOptions new">
                    <div class="content" >
                      <h4 align="center">Please Enter Contact Info Below</h4>
                      <p align="center"><small>If you don't have a piece of info, that's ok!<br />You can leave it blank for now and add it later</small></p>
                      <div class="form-group">
                        <label for="contactFirstName">First Name</label>
                        <input type="text" class="form-control" id="contactFirstName" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <label for="contactLastName">Last Name</label>
                        <input type="text" class="form-control" id="contactLastName" placeholder="Last Name">
                      </div>
                      <div class="form-group">
                        <label for="firm">Firm</label>
                        <%= select_tag(:firm_id, options_from_collection_for_select(Firm.all, :id, :name), :include_blank => true, :class => "form-control") %>
                      </div>
                      <div class="form-group">
                        <label for="title">Title</label>
                        <%= select_tag(:title, options_from_collection_for_select(BankingTitle.all, :id, :title,), :include_blank => true, :class => "form-control") %>
                      </div>
                      <div class="form-group">
                        <label for="group">Group</label>
                        <%= select_tag(:group, options_from_collection_for_select(IbGroup.all, :id, :name,), :include_blank => true, :class => "form-control") %>
                      </div>
                      <div class="form-group">
                        <label for="contactBsAlmaMater">Business School Alma Mater</label>
                        <%= select_tag(:bs_alma_mater, options_from_collection_for_select(BusinessSchool.all, :id, :name,), :include_blank => true, :class => "form-control") %>
                      </div>
                      <div class="form-group">
                        <label for="contactEmail">Email</label>
                        <input type="text" class="form-control" id="contactEmail" placeholder="ex) first.last@bank.com">
                      </div>
                      <div class="form-group">
                        <label for="contactPhone">Phone</label>
                        <input type="text" class="form-control" id="contactPhone" placeholder="(123) 456-7890">
                      </div>
                    </div>
                  </section>

                  <section class="jqueryOptions existing">
                    <div class="content" id="contact_content">
                      <div class="form-group">
                        <label for="contact">Contact</label>
                        <%= select_tag(:contact_id, options_from_collection_for_select(Contact.all, :id, :full_name,), :include_blank => true, :class => "form-control") %>
                      </div>
                    </div>
                  </section>
                </main>

                <div class="form-group">
                  <label for="setting">Setting</label>
                  <%= select_tag(:setting_id, options_from_collection_for_select(Setting.all, :id, :setting,), :include_blank => true, :class => "form-control") %>
                </div>
                <div class="form-group">
                  <label for="Notes">Notes</label>
                  <input type="text" class="form-control" id="notes" placeholder="ex) Bill's favorite team is the Patriots">
                </div>
                <!-- <button type="submit" class="btn btn-default">Submit</button> -->
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- Review Your Data Row     -->
    <div class="row">
        <div class="review_banner col-md-offset-2 col-md-8">
          <h1 align="center"><strong>Review</strong> <small>Your Data</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="data col-md-offset-2 col-md-4" id="content_area">

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <% @touchpoints = Touchpoint.where({ :user_id => current_user.id }) %>
                <% if Touchpoint.where({:user_id => current_user.id}).count == 0 %>
                <div class="well well-lg" id="no_touch">
                  <strong>No Touchpoints Yet!</strong>
                </div>
                <%else%>
                <% @touchpoints.each do |touchpoint| %>
                <% firm = XyGraphShell.new %>
                <% firm.x = touchpoint.firm.name %>
                <% firm.save %>
                <% end %>
                <%= pie_chart XyGraphShell.group(:x).count, library: { title: {text: 'Interactions by Firm'}, backgroundColor: "transparent"} %>
                <% XyGraphShell.delete_all %>
                <% end %>
              </div>
              <div class="item">
                <% @phone = XyGraphShell.new %>
                <% @phone.x = "Informational (Phone)" %>
                <% @phone.y = Touchpoint.where({ :user_id => current_user.id, :setting_id => 1}).count %>
                <% @phone.save %>
                <% @inperson = XyGraphShell.new %>
                <% @inperson.x = "Informational (In-Person)" %>
                <% @inperson.y = Touchpoint.where({ :user_id => current_user.id, :setting_id => 2}).count %>
                <% @inperson.save %>
                <% @oncampus = XyGraphShell.new %>
                <% @oncampus.x = "On-Campus Recruiting Event" %>
                <% @oncampus.y = Touchpoint.where({ :user_id => current_user.id, :setting_id => 3}).count %>
                <% @oncampus.save %>
                <% @offcampus = XyGraphShell.new %>
                <% @offcampus.x = "Off-Campus Recruiting Event" %>
                <% @offcampus.y = Touchpoint.where({ :user_id => current_user.id, :setting_id => 4}).count %>
                <% @offcampus.save %>
                <% @other = XyGraphShell.new %>
                <% @other.x = "Other" %>
                <% @other.y = Touchpoint.where({ :user_id => current_user.id, :setting_id => 5}).count %>
                <% @other.save %>
                <%= bar_chart XyGraphShell.group(:x).sum(:y), width: "390px", library: { title: {text: 'Interactions by Setting'}, backgroundColor: "transparent"} %>
                <% XyGraphShell.delete_all %>
              </div>
              <div class="item">
                <% @touchpoints = Touchpoint.where({ :user_id => current_user.id }) %>
                <% @touchpoints.each do |touchpoint| %>
                <% contact = XyGraphShell.new %>
                <% contact.x = touchpoint.contact.title %>
                <% contact.save %>
                <% end %>
                <%= pie_chart XyGraphShell.group(:x).count, width: "370px", library: { title: {text: 'Contacts by Title'}, backgroundColor: "transparent"} %>
                <% XyGraphShell.delete_all %>
              </div>
              <div class="item">
                <% @touchpoints = Touchpoint.where({ :user_id => current_user.id }) %>
                <% @touchpoints.each do |touchpoint| %>
                <% firm = XyGraphShell.new %>
                <% firm.x = touchpoint.contact.group %>
                <% firm.save %>
                <% end %>
                <%= pie_chart XyGraphShell.group(:x).count, width: "340px", library: { title: {text: 'Contacts by Group'}, backgroundColor: "transparent"} %>
                <% XyGraphShell.delete_all %>
              </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


      </div>
        <div class="pic col-md-4">
          <img class="img-responsive" src="http://localhost:3000/assets/data_stock_prelim.jpeg">
        </div>
    </div>

    <div class="row">
        <div class="target_banner col-md-offset-2 col-md-8">
          <h1 align="center"><strong>Research</strong> <small>Your Process</small></h1>
        </div>
    </div>
<!-- Firm Logo Thumbnails -->
    <div class="row">
        <div class="pic col-md-offset-2 col-md-4">
          <img class="img-responsive" src="http://localhost:3000/assets/target2_stock_prelim.jpeg">
        </div>
        <div class="targets col-md-4" id="content_area">
          <form>
            <h5 align="center"><a href="/target_firms"><strong>Review your targets list</strong></a></h5>
            <% @firms = Firm.all %>
            <% @firms.each do |firm| %>
            <a href="http://localhost:3000/firms/<%= firm.id %>" class="thumbnail" width=75px>
              <img src="http://localhost:3000/assets/<%= firm.name %>_logo" width=103px>
            </a>
            <% end %>
          </form>

        </div>
    </div>
    <div class="row">
        <div class="filler_banner col-md-offset-2 col-md-8">
          <h1 align="center">Last Banner</h1>
        </div>
    </div>
    <div class="row">
        <div class="info col-md-offset-2 col-md-4">

          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
              <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>
        <div class="pic col-md-4">
          <img class="img-responsive" src="http://localhost:3000/assets/business_stock_prelim.jpeg">
        </div>
    </div>
</div>





  <div class="footer">
    Footer Content
  </div>
