<div class="page-header">
  <h3>Contact Details</h3>
</div>

<div class="row">
  <div class="col col-md-6">

<div class="media">
  <div class="media-left media-top">
    <a href="#">
      <img class="media-object" src="http://localhost:3000/assets/silhouette_generic.jpg" width="200" alt="...">
    </a>
  </div>
  <div class="media-body">
    <!-- <h4 class="media-heading">Media heading</h4> -->
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @contact.full_name %></dd>
      <dt>Firm</dt>
      <dd>
      <a href="/firms/<%=@contact.firm_id%>"><%= @contact.firm.name %></a>
      </dd>
      <dt>Title</dt>
      <dd><%= @contact.title %></dd>
      <dt>Division</dt>
      <dd><%= @contact.division %></dd>
      <dt>Group</dt>
      <dd><%= @contact.group %></dd>
      <!-- <dt>Photo</dt>
      <dd><%= @contact.photo %></dd>
      <dt>Business card</dt>
      <dd><%= @contact.business_card %></dd> -->
      <dt>B-School</dt>
      <dd><%= @contact.business_school.name %></dd>
      <dt>Email</dt>
      <dd><%= @contact.email %></dd>
      <dt>Phone number</dt>
      <dd><%= @contact.phone_number %></dd>
    </dl>
  </div>
</div>

</div>
<div class="col col-md-6">

  <div class="panel panel-default">
    <!-- Default panel contents -->

    <!-- List group -->
    <% @touchpoints = Touchpoint.where({:user_id => current_user.id}) %>
    <% @touchpoints.each do |touchpoint| %>
    <% if touchpoint.contact_id == @contact.id %>
    <ul class="list-group">
      <a href="/touchpoints/<%=touchpoint.id%>">
        <dd><strong><%=touchpoint.date.strftime("%D")%> @ <%=touchpoint.setting.setting%></strong></dd>
      </a>
      <dd><strong>- Date:</strong> <%=touchpoint.date.strftime("%D")%></dd>
      <dd><strong>- Location:</strong> <%=touchpoint.location%></dd>
      <dd><strong>- Setting:</strong><%=touchpoint.setting.setting%> </dd>
    </ul>
    <% end %>
    <% end %>
  </div>


</div>
</div>



<div class="row">
  <!-- <div class="col col-md-offset-2 col-md-4">
    <img src="silhouette_generic.jpg">
  </div> -->


    <div class="btn-group btn-group-justified">
      <a href="/contacts" class="btn btn-primary">
        Back
      </a>
      <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_contact/<%= @contact.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
