<!DOCTYPE html>

    <style>

      .panel > .panel-heading {
          /*background-image: none;
          background-color: red;
          color: white;*/
          font-size: 20px;
          font-weight: bold;
          }

      th {
          text-align: center;
      }

      td {
          text-align: center;
      }

      #recruiting_events_head {
          color: white;
      }

      #touchpoints_head {
          color: white;
      }

      #contacts_head {
          color: white;
      }

      #target_firms_head {
          color: white;
      }

    </style>

<div class="container">
    <div class="row header">
        <div class="welcome col-md-offset-1 col-md-10">
          <h1 align="center"> Welcome back <%=current_user.first_name.capitalize%>!<h1>
        </div>
    </div>
    <div class="row row_two">
        <!-- for recent activity -->
        <div class="recent_activity col-md-offset-1 col-md-5">
          <h2 align="center">Placeholder for recent activity<h2>
        </div>
        <!-- for alerts, to be defined later (should be a collection of contact goals,
        upcoming events, upcoming milestones, ect...) -->
        <div class="alerts col-md-5">
          <h2 align="center">Placeholder for Alerts</h2>
        </div>
    </div>


    <div class="row row_three">
        <!-- to display all of the users touchpoints to date -->
        <div class="touchpoints col-md-offset-2 col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center">
              <a href="/touchpoints" id="touchpoints_head">
              My Touchpoints
              </a>
            </div>
            <div class="panel-body">

            <table class="table table-striped">
                <tr>
                  <th>View</th>
                  <th>Touchpoint</th>
                  <th>Firm</th>
                  <th>Contact Name</th>
                  <th>Date</th>
                </tr>
                <% @touchpoints.each do |touchpoint| %>
                <tr>
                  <% if touchpoint.user_id == current_user.id %>
                  <td>
                    <a href="/touchpoints/<%=touchpoint.id%>">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  </td>
                  <td><%=touchpoint.description%></td>
                  <td>
                    <a href="/firms/<%=touchpoint.contact.firm_id%>">
                    <%=touchpoint.contact.firm.name%>
                    </a>
                  </td>
                  <td>
                    <a href="/contacts/<%=touchpoint.contact_id%>">
                    <%=touchpoint.contact.full_name%>
                  </a>
                  </td>
                  <td><%=touchpoint.date%></td>
                  <% end %>
                </tr>
                <% end %>
            </table>
            </div>
            <p align="center">
              <a href="/touchpoints/new" class="btn btn-lg btn-success">New Touchpoint</a>
            </p>
          </div>
        </div>
    </div>

    <div class="row row_four">

<!-- for display of all contacts -->
        <div class="contacts col-md-offset-0 col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center">
              <a href="/contacts" id="contacts_head">
                  Contacts
              </a>
            </div>
            <div class="panel-body">

            <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                  <th>Contact Name</th>
                  <th>Firm</th>
                  <th>Dept</th>
                  <th>Group</th>
                </tr>
                <% @touchpoints.each do |touchpoint| %>
                <tr>
                  <% if touchpoint.user_id == current_user.id%>
                  <td>
                    <a href="/contacts/<%=touchpoint.contact_id%>">
                    <%=touchpoint.contact.full_name%>
                    </a>
                  </td>
                    <td>
                      <a href="/firms/<%=touchpoint.contact.firm_id%>">
                      <%=touchpoint.contact.firm.name%></td>
                      </a>
                    </td>
                  <td><%=touchpoint.contact.group%></td>
                  <td><%=touchpoint.contact.division%></td>
                  <% end %>
                </tr>
                <% end %>
            </table>
            </div>
            <p align="center">
              <a href="/contacts/new" class="btn btn-sm btn-success">Add Contact</a>
            </p>
            </div>
          </div>
        </div>

<!-- Panel for target firms -->
        <div class="target_firms col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center">
                <a href="/target_firms" id="target_firms_head">
                  Target Firms
                </a>
              </div>
            <div class="panel-body">
            <div class="table-responsive">

              <% if @target_firms.blank?%>
              <!-- <h3 align="center">Focus YOUR Process</h3> -->
              <h3 align="center">Add Some Target Firms </h3>
              <% elsif %>

            <table class="table table-striped">
                <tr>
                  <th>Firm</th>
                  <th>Industry</th>
                  <th>Last Touchpoint</th>
                  <th>Upcoming Events</th>
                </tr>
                <% @target_firms.each do |target_firm| %>
                <tr>
                  <% if target_firm.user.id == current_user.id%>
                  <td>
                    <a href="/firms/<%=target_firm.firm_id%>">
                    <%=target_firm.firm.name%>
                    </a>
                  </td>
                    <td>
                      <%=target_firm.firm.industry%></td>
                    </td>
                  <!-- Last Touchpoint -->
                  <td>
                    <% @touch_search = Touchpoint.find_by( :firm_id => target_firm.firm_id, :user_id => current_user.id ) %>
                    <% if @touch_search.blank? %>
                    No touchpoints yet
                    <% elsif %>
                      <%= @touch_search.contact.full_name %>
                      <!-- <% @touchpoints.each do |touchpoint| %>
                        <% if touchpoint.firm_id == target_firm.id && touchpoint.user_id == current_user.id %>
                        <%= touchpoint.contact.full_name %>
                        <% end %>
                        <%= Touchpoint.find_by( :firm_id => target_firm.firm_id, :user_id => current_user.id ).contact.full_name %>
                      <% end %> -->
                    <% end %>
                  </td>
                  <!-- Upcoming Events -->
                  <td>
                  <%=  Firm.find_by(:id => target_firm.firm_id).name %>
                  </td>
                  <% end %>
                  </tr>
                <% end %>
            </table>

            <% end %>

            </div>
            </div>
            <p align="center">
              <a href="/target_firms/new" class="btn btn-sm btn-success">Add Target firm</a>
            </p>
          </div>
        </div>


<!-- for RECRUITING EVENTS -->
        <div class="target_firms col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center">
              <a href="/recruiting_events" id="recruiting_events_head">Recruiting Events</a>
            </div>
            <div class="panel-body">
            <div class="table-responsive">

              <% if @recruiting_events.blank?%>
              <!-- <h3 align="center">Focus YOUR Process</h3> -->
              <h3 align="center">Add Some Recruiting Events </h3>
              <% elsif %>

            <table class="table table-striped">
                <tr>
                  <th>Firm</th>
                  <th>Event</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Location</th>
                </tr>
                <% @recruiting_events.each do |recruiting_event| %>
                <tr>
                  <td>
                    <a href="/firms/<%=recruiting_event.firm_id%>">
                    <%=recruiting_event.firm.name%>
                    </a>
                  </td>
                    <td>
                      <a href="/recruiting_events/<%=recruiting_event.id%>">
                      <%=recruiting_event.name%>
                      </a>
                    </td>
                  <!-- Date -->
                  <td>
                    <%=recruiting_event.date%>
                  </td>
                  <!-- Time -->
                  <td>
                    <%=recruiting_event.start_time%>
                  </td>
                  <!-- Time -->
                  <td>
                    <%=recruiting_event.location%>
                  </td>
                  </tr>
                <% end %>
            </table>

            <% end %>

            </div>
            </div>
            <p align="center">
              <a href="/target_firms/new" class="btn btn-sm btn-success">Add Target firm</a>
            </p>
          </div>
        </div>

    <div class="row footer">
        <div class="bottom_navbar col-md-offset-1 col-md-5">
          <h3 align="center">Target Firms Performance<h3>

            <%  @target_firm = TargetFirm.all %>
              <% @target_firm.each do |target_firm| %>
                <% if target_firm.user_id == current_user.id %>
                        <% @new_point = XyGraphShell.new %>
                        <% @new_point.x = target_firm.firm.name %>
                        <% @new_point.y = Touchpoint.where({ :firm_id => target_firm.firm_id, :user_id => target_firm.user_id}).count %>
                        <% @new_point.save %>
                <% end %>
              <% end %>
            <%= column_chart XyGraphShell.group(:x).sum(:y), min: 0, max: 5 %>
            <% XyGraphShell.delete_all %>

        </div>
    </div>
</div>
