<!DOCTYPE html>

    <style>

    #dash_head{
      font-weight: 600;
      text-align: center;
      /*color: white;*/
    }

    /*panel{
      height: 300px;
      overflow: auto;
    }*/

    .panel {
      height: 300px;
      overflow: auto;
        }

      table {
        font-size: 12.5px;
      }

      ul {
        font-size: 18px;
      }
      #touch_by_target {
        padding: 60px;
      }



      .tab-content > .tab-pane,
      .pill-content > .pill-pane {
          display: block;
          height: 0;
          overflow-y: hidden;
      }

      .tab-content > .active,
      .pill-content > .active {
          height: auto;
      }

    </style>

<!-- START PAGE DISPLAY -->
<div class="container">

<!-- START TOP ROW -->
    <div class="row welcome">
        <div class="welcome col-md-offset-1 col-md-10">
          <h1 align="center">TEST PAGE ONLY</h1>
          <h1 id="dash_head"> Welcome back <%=current_user.first_name.capitalize%>!<h1>

          </div>
          <div class="col col-md-5">
              <h1 align="center">Chart Your Progress</h1>
                <ul class="nav nav-pills nav-justified" id="chart_tab">

                  <li class="dropdown">
                    <a class="drowpdown-toggle" data-toggle="dropdown" href="#">
                    Touchpoints <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#t_by_firm" data-toggle="tab"> by Firm </a></li>
                      <li><a href="#t_over_time" data-toggle="tab"> over Time </a></li>
                      <!-- <li><a href="#t_by_firm"> Touchpoints over Time </a></li> -->
                    </ul>
                  </li>

                <li><a data-toggle="pill" href="#menu1">Touchpoints over time</a></li>
                <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
                <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
              </ul>

              <div class="tab-content">

                <div id="t_by_firm" class="tab-pane fade in active">
                  <% @touchpoints = Touchpoint.where({ :user_id => current_user.id }) %>
                    <% @touchpoints.each do |touchpoint| %>
                      <% firm = XyGraphShell.new %>
                      <% firm.x = touchpoint.firm.name %>
                      <% firm.save %>
                    <% end %>
                    <% @pie_firms = XyGraphShell.all %>
                  <%= pie_chart @pie_firms.group(:x).count, library: { title: {text: 'Touchpoints by Firm'}, backgroundColor: "transparent"} %>
                  <% XyGraphShell.delete_all %>
                </div>

                <div id="t_over_time" class="tab-pane fade">
                  <!-- Touchpoints over time graph -->
                    <%  seventy2_date = 3.days.ago
                        week_date = 7.days.ago
                        month_date = 1.month.ago
                        end_date = Date.today %>

                        <%
                        @last_72 = XyGraphShell.new
                        @last_72.x = "Past 72hrs"
                        @last_72.y = Touchpoint.where({ :user_id => current_user.id, :date => (seventy2_date..end_date) }).count
                        @last_72.save

                        @last_week = XyGraphShell.new
                        @last_week.x = "Past Week"
                        @last_week.y = Touchpoint.where({ :date => (week_date..end_date) }).count
                        @last_week.save

                        @last_month = XyGraphShell.new
                        @last_month.x = "Past Month"
                        @last_month.y = Touchpoint.where({ :date => (month_date..end_date) }).count
                        @last_month.save
                        %>

                        <%= column_chart XyGraphShell.group(:x).sum(:y), min: 0, max: 8, library: { title: { text: "Touchpoints over Time"}} %>
                        <% XyGraphShell.delete_all %>
                </div>
<!-- Touchpoints by type -->
<%




%>


                <div id="menu1" class="tab-pane fade">
                  <h3>Chart 2</h3>
                  <%  @target_firm = TargetFirm.all %>
                    <% @target_firm.each do |target_firm| %>
                      <% if target_firm.user_id == current_user.id %>
                              <% @new_point = XyGraphShell.new %>
                              <% @new_point.x = target_firm.firm.name %>
                              <% @new_point.y = Touchpoint.where({ :firm_id => target_firm.firm_id, :user_id => target_firm.user_id}).count %>
                              <% @new_point.save %>
                      <% end %>
                    <% end %>
                  <%= column_chart XyGraphShell.group(:x).sum(:y), min: 0, max: 5, library: { title: {text: 'Touchpoints at Target Firms'}} %>
                  <% XyGraphShell.delete_all %>
                </div>

                <div id="menu2" class="tab-pane fade">
                  <h3>Menu 2</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                  <h3>Menu 3</h3>
                  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>




<!-- MODAL Code -->
            <!-- Button to trigger modal -->
            <!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
            <!-- Modal -->
            <!-- <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Modal header</h3>
              </div>
              <div class="modal-body">
                <p>One fine body…</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
              </div>
            </div> -->

        </div>
    </div>

    <div class="row graph_row">
<!-- List of Touchpoints by Firm -->
      <div class="touchgraph col-md-offset-1 col-md-5">
        <div class="panel panel-primary" id="touch_panel">
          <div class="panel-heading" align="center">
            <a href="/touchpoints" id="touchpoints_head">
            My Touchpoints
            </a>
          </div>
          <div class="panel-body">

          <table class="table table-striped">
              <tr>
                <th>View</th>
                <th>Firm</th>
                <th>Contact Name</th>
                <th>Touchpoint</th>
                <th>Date</th>
              </tr>
              <% @touchpoints.each do |touchpoint| %>
              <tr>
                <% if touchpoint.user_id == current_user.id %>
                <td>
                  <a href="/touchpoints/<%=touchpoint.id%>">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                </td>
                <td>
                  <a href="/firms/<%=touchpoint.contact.firm_id%>">
                  <%=touchpoint.contact.firm.name%>
                  </a>
                </td>
                <td>
                  <a href="/contacts/<%=touchpoint.contact_id%>">
                  <%=touchpoint.contact.full_name%>
                </a>
                </td>
                <td><%=touchpoint.description%></td>
                <td><%=touchpoint.date.strftime('%v')%></td>
                <% end %>
              </tr>
              <% end %>
          </table>
          </div>
        </div>
        <p align="center">
          <a href="/touchpoints/new" class="btn btn-sm btn-success">New Touchpoint</a>
        </p>
      </div>


<!-- Pie Graph of Touchpoints by Firm -->
      <div class="touchgraph col-md-5">
        <% @touchpoints = Touchpoint.where({ :user_id => current_user.id }) %>
          <% @touchpoints.each do |touchpoint| %>
            <% firm = XyGraphShell.new %>
            <% firm.x = touchpoint.firm.name %>
            <% firm.save %>
          <% end %>
          <% @pie_firms = XyGraphShell.all %>
        <%= pie_chart @pie_firms.group(:x).count, library: { title: {text: 'Touchpoints by Firm'}, backgroundColor: 'transparent'} %>
        <% XyGraphShell.delete_all %>
      </div>

    </div>
<!-- FIRST ROW END -->

<!-- START OF ROW 3 -->
    <div class="touch_by_target row" id="touch_by_target">
      <div class="col col-md-offset-1 col-md-10">

        <!-- Touchpoints over time graph -->
          <%  seventy2_date = 3.days.ago
              week_date = 7.days.ago
              month_date = 1.month.ago
              end_date = Date.today %>

              <%
              @last_72 = XyGraphShell.new
              @last_72.x = "Past 72hrs"
              @last_72.y = Touchpoint.where({ :user_id => current_user.id, :date => (seventy2_date..end_date) }).count
              @last_72.save

              @last_week = XyGraphShell.new
              @last_week.x = "Past Week"
              @last_week.y = Touchpoint.where({ :date => (week_date..end_date) }).count
              @last_week.save

              @last_month = XyGraphShell.new
              @last_month.x = "Past Month"
              @last_month.y = Touchpoint.where({ :date => (month_date..end_date) }).count
              @last_month.save
              %>

              <%= column_chart XyGraphShell.group(:x).sum(:y), min: 0, max: 8, library: { title: { text: "Touchpoints over Time"}} %>
              <% XyGraphShell.delete_all %>


      </div>
    </div>
<!-- END OF ROW -->

<!-- SEOND ROW START -->
    <div class="row graph_row_2">
<!-- TARGET FIRM GRAPH -->
      <div class="col col-md-offset-1 col-md-5">
      <%  @target_firm = TargetFirm.all %>
        <% @target_firm.each do |target_firm| %>
          <% if target_firm.user_id == current_user.id %>
                  <% @new_point = XyGraphShell.new %>
                  <% @new_point.x = target_firm.firm.name %>
                  <% @new_point.y = Touchpoint.where({ :firm_id => target_firm.firm_id, :user_id => target_firm.user_id}).count %>
                  <% @new_point.save %>
          <% end %>
        <% end %>
      <%= column_chart XyGraphShell.group(:x).sum(:y), min: 0, max: 5, library: { title: {text: 'Touchpoints at Target Firms'}} %>
      <% XyGraphShell.delete_all %>
      </div>

<!-- DISPLAY OF USER TARGET FIRMS -->
      <div class=" col col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading" align="center">
              <a href="/target_firms" id="target_firms_head">
                Target Firms
              </a>
            </div>
          <div class="panel-body">
          <div class="table-responsive">

            <% if @target_firms.blank?%>
            <!-- <h3 align="center">Focus YOUR Process</h3> -->
            <h3 align="center">Add Some Target Firms </h3>
            <% elsif %>

          <table class="table table-striped">
              <tr>
                <th>Firm</th>
                <th>Industry</th>
                <th>Last Touchpoint</th>
                <th>Upcoming Events</th>
              </tr>
              <% @target_firms.each do |target_firm| %>
              <tr>
                <% if target_firm.user.id == current_user.id%>
                <td>
                  <a href="/firms/<%=target_firm.firm_id%>">
                  <%=target_firm.firm.name%>
                  </a>
                </td>
                  <td>
                    <%=target_firm.firm.industry%></td>
                  </td>
                <!-- Last Touchpoint -->
                <td>
                  <% @touch_search = Touchpoint.find_by( :firm_id => target_firm.firm_id, :user_id => current_user.id ) %>
                  <% if @touch_search.blank? %>
                  No touchpoints yet
                  <% elsif %>
                    <%= @touch_search.contact.full_name %>
                    <!-- <% @touchpoints.each do |touchpoint| %>
                      <% if touchpoint.firm_id == target_firm.id && touchpoint.user_id == current_user.id %>
                      <%= touchpoint.contact.full_name %>
                      <% end %>
                      <%= Touchpoint.find_by( :firm_id => target_firm.firm_id, :user_id => current_user.id ).contact.full_name %>
                    <% end %> -->
                  <% end %>
                </td>
                <!-- Upcoming Events -->
                <td>
                <%=  Firm.find_by(:id => target_firm.firm_id).name %>
                </td>
                <% end %>
                </tr>
              <% end %>
          </table>

          <% end %>

          </div>
          </div>
        </div>
        <p align="center">
          <a href="/target_firms/new" class="btn btn-sm btn-success">Add Target firm</a>
        </p>
      </div>
    </div>
<!-- EMD OF ROW 2 -->



    <div class="row row_two">
        <!-- for recent activity -->
        <div class="recent_activity col-md-offset-1 col-md-5">
          <h2 align="center">Placeholder for recent activity<h2>
        </div>
        <!-- for alerts, to be defined later (should be a collection of contact goals,
        upcoming events, upcoming milestones, ect...) -->
        <div class="alerts col-md-5">
          <h2 align="center">Placeholder for Alerts</h2>
        </div>
    </div>


    <div class="row row_three">
        <!-- to display all of the users touchpoints to date -->
        <div class="touchpoints col-md-offset-2 col-md-8">



        </div>
    </div>

    <div class="row row_four">

<!-- for display of all contacts -->
        <div class="contacts col-md-offset-0 col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center">
              <a href="/contacts" id="contacts_head">
                  Contacts
              </a>
            </div>
            <div class="panel-body">

            <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                  <th>Contact Name</th>
                  <th>Firm</th>
                  <th>Dept</th>
                  <th>Group</th>
                </tr>
                <% @touchpoints.each do |touchpoint| %>
                <tr>
                  <% if touchpoint.user_id == current_user.id%>
                  <td>
                    <a href="/contacts/<%=touchpoint.contact_id%>">
                    <%=touchpoint.contact.full_name%>
                    </a>
                  </td>
                    <td>
                      <a href="/firms/<%=touchpoint.contact.firm_id%>">
                      <%=touchpoint.contact.firm.name%></td>
                      </a>
                    </td>
                  <td><%=touchpoint.contact.group%></td>
                  <td><%=touchpoint.contact.division%></td>
                  <% end %>
                </tr>
                <% end %>
            </table>
            </div>
            <p align="center">
              <a href="/contacts/new" class="btn btn-sm btn-success">Add Contact</a>
            </p>
            </div>
          </div>
        </div>

<!-- Panel for target firms -->
        <div class="target_firms col-md-4">


        </div>


<!-- for RECRUITING EVENTS -->
        <div class="target_firms col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center">
              <a href="/recruiting_events" id="recruiting_events_head">Recruiting Events</a>
            </div>
            <div class="panel-body">
            <div class="table-responsive">

              <% if @recruiting_events.blank?%>
              <!-- <h3 align="center">Focus YOUR Process</h3> -->
              <h3 align="center">Add Some Recruiting Events </h3>
              <% elsif %>

            <table class="table table-striped">
                <tr>
                  <th>Firm</th>
                  <th>Event</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Location</th>
                </tr>
                <% @recruiting_events.each do |recruiting_event| %>
                <tr>
                  <td>
                    <a href="/firms/<%=recruiting_event.firm_id%>">
                    <%=recruiting_event.firm.name%>
                    </a>
                  </td>
                    <td>
                      <a href="/recruiting_events/<%=recruiting_event.id%>">
                      <%=recruiting_event.name%>
                      </a>
                    </td>
                  <!-- Date -->
                  <td>
                    <%=recruiting_event.date%>
                  </td>
                  <!-- Time -->
                  <td>
                    <%=recruiting_event.start_time%>
                  </td>
                  <!-- Time -->
                  <td>
                    <%=recruiting_event.location%>
                  </td>
                  </tr>
                <% end %>
            </table>

            <% end %>

            </div>
            </div>
            <p align="center">
              <a href="/target_firms/new" class="btn btn-sm btn-success">Add Target firm</a>
            </p>
          </div>
        </div>

    <div class="row footer">
        <div class="bottom_navbar col-md-offset-1 col-md-5">
          <h3 align="center">Target Firms Performance<h3>



        </div>
    </div>
  </div>
</div>


<!-- OLD GRAPHS -->

<h3 align="center">Touchpoints Over Time<h3>

<!-- Touchpoints in past week -->
  <%  seventy2_date = 3.days.ago
      week_date = 7.days.ago
      month_date = 1.month.ago
      end_date = Date.today

      @last_72 = XyGraphShell.new
      @last_72.x = "Past 72hrs"
      @last_72.y = Touchpoint.where(:user_id => current_user.id, :date => (seventy2_date..end_date)).count
      @last_72.save

      @last_week = XyGraphShell.new
      @last_week.x = "Past Week"
      @last_week.y = Touchpoint.where(:date => (week_date..end_date)).count
      @last_week.save

      @last_month = XyGraphShell.new
      @last_month.x = "Past Month"
      @last_month.y = Touchpoint.where(:date => (month_date..end_date)).count
      @last_month.save
      %>

      <%= area_chart XyGraphShell.group(:x).sum(:y), min: month_date, max: end_date %>
      <% XyGraphShell.delete_all %>
