<div class="page-header">
  <h1>
    Firm groups
    <a href="/firm_groups/new" class="btn btn-lg btn-success">New Firm group</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Firm</th>
        <th>Ib group</th>
        <th>Actions</th>
      </tr>

      <% @firm_groups.each do |firm_group| %>
      <tr>
        <td><%= firm_group.firm.name %></td>
        <td><%= firm_group.ib_group.name %></td>
        <td>
          <a href="/firm_groups/<%= firm_group.id %>" class="btn btn-primary">Show</a>
          <a href="/firm_groups/<%= firm_group.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_firm_group/<%= firm_group.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
